.vs
*.obj
obj/
bin/

*.csproj.user
*.mdb
*.pdb
/Resource/Unity/Assembly-CSharp.csproj
/Resource/Unity/Assembly-CSharp-Editor.csproj
/Src/buildlog
/Src/Bin
/Resource/Unity/Library/
/Resource/Unity/Temp/
/Resource/Unity/Assets/Plugins/*.dll
/Resource/Unity/Assets/Plugins/*.mdb
/Resource/Unity/Assets/Plugins/*.mdb.meta
/Resource/Unity/Assets/StreamingAssets
/Resource/Unity/Assembly-CSharp-Editor-firstpass.csproj
/Resource/Unity/Assembly-CSharp-firstpass.csproj
/Resource/Unity/Assets/navinfo.obj.meta
Resource/Unity/Assets/navinfo.obj.meta
Resource/Unity/Assets/navinfo.obj.meta
Resource/Unity/Assets/navinfo.obj.meta
