[Dd]ebug
[Rr]elease
obj/
[Bb]in
.vs/
src/buildlog
Resource/Unity/Library/
Resource/Unity/Temp/
Resource/Unity/Assets/Plugins/
Resource/Unity/Assets/StreamingAssets/tables/
Resource/Unity/Assets/StreamingAssets/tables.meta
