.vs
*.obj
obj/
bin/

*.csproj.user
*.mdb
*.pdb
/Src/buildlog
/Src/Bin
/Resource/Unity/Library/
/Resource/Unity/Temp/
/Resource/Unity/Assets/Plugins/
/Resource/Unity/Assets/StreamingAssets/tables/
/Resource/Unity/Assets/StreamingAssets/tables.meta